.container {
  min-height: 100vh;
  background: #ffffff;
  position: relative;
}

/* HEADER */
.header {
  background: #45aaf2;
  display: flex;
  align-items: center;
  justify-content: space-between;   
  padding: 12px 24px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: #1e90ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.searchBox {
  background: white;
  border-radius: 25px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  width: 320px;
}

.searchBox input {
  border: none;
  outline: none;
  flex: 1;
}

.searchIcon {
  font-size: 18px;
}

.icons {
  color: white;
  font-size: 22px;
  display: flex;
  gap: 16px;
}
/* GRID */
.grid {
  padding: 40px 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

/* CARD */
.card {
  background: #45aaf2;
  border-radius: 12px;
  padding: 16px;
  color: white;
}

.cardTitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 12px;
}

.imageBox {
  background: white;
  color: black;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.descTitle {
  font-size: 12px;
}

.descText {
  font-size: 11px;
  margin-bottom: 10px;
}

/* STATUS */
.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.lost {
  background: red;
}

.found {
  background: white;
}

.returned {
  background: #22c55e;
}
