.container {
  min-height: 100vh;
  background: #ffffff;
  position: relative;
}

/* HEADER */
.header {
  background: #45aaf2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.searchBox {
  background: white;
  border-radius: 25px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  width: 320px;
}

.searchBox input {
  border: none;
  outline: none;
  flex: 1;
}

.searchIcon {
  font-size: 18px;
}

.icons {
  color: white;
  font-size: 22px;
  display: flex;
  gap: 16px;
}


/* MAIN CONTENT */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px 60px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* IMAGE SECTION */
.imageSection {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 400px;
}

.image {
  object-fit: contain;
}

.arrow {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.dots {
  position: absolute;
  bottom: -20px;
  display: flex;
  gap: 6px;
}

.dot,
.dotActive {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
}

.dotActive {
  background: #45aaf2;
}

/* DETAIL SECTION */
.detailSection {
  width: 100%;
  height: 80vh;
  background: #45aaf2;
  padding: 24px;
  border-radius: 12px;
}

/* AUTHOR */
.authorCard {
  background: white;
  border-radius: 30px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #d9d9d9;
  border-radius: 50%;
}

.authorName {
  font-size: 14px;
}

/* DESCRIPTION */
.descriptionBox {
  background: white;
  padding: 16px;
  border-radius: 8px;
  font-size: 13px;
  height: 85%;
  line-height: 1.6;
}

.descriptionBox h3 {
  margin-bottom: 8px;
  font-size: 14px;
  width: 80%;
}
